.navigation-drawer{
    box-shadow: 4px 0px 4px 0 rgba(23,23,23,.06);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background: #fff;
    max-width: 90%;
    min-width: 280px;
    padding: 15px 10px;
}