*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body,input{
    font-family: 'Nunito', sans-serif;
}

body{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #484848;
}

a{
    display: inline-block;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

input:focus{
    outline:none;
}

/* General used classes */
.flex-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul{
    list-style: none;
}


.navigation a {
    color: #202020;
    position: relative;
}
/* Header styles */
.header{   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    right: 0;
    box-shadow: none;
    /* background: rgba(55,66,82,.4); */
    background-color:#374252;
    border-bottom: 1px solid rgba(255,255,255,.12);
    padding:10px 0px;
}

.header-nav-svg{
    fill: #fff;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.header-action-nav-svg{
    fill: #fff;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.number-bubble{
    color: #fff;
    font-size: 13px;
    background: #00a591;
    line-height: 1;
    font-weight: 700;
    padding: 4px;
    font-family: 'Quicksand',sans-serif;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    right: -9px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    width: 170px;
    line-height: 1;
}

.navigation{
    display: flex;
    align-items: center;
    color: #202020;
    margin-left: 0;
    position: relative;
    padding-left: 0;
    list-style: none;
}

.navigation li {
    position: relative;
    padding: 0;
    float: left;
}

.navigation a{
    position:relative;
}

.navigation li a{
    font-family: 'Quicksand',sans-serif;
    padding: 15px;
    display: block;
    font-size: 15px;
    white-space: normal;
    font-weight: 500;
}

.dropdown-menu{
    position: absolute;
    border-radius: 2px;
    top: 100%;
    left: 0;
    width: auto;
    min-width: 160px;
    display: none;
    z-index: 10;
    padding: 20px 10px;
    margin: 0;
    background: #fff;
    box-shadow: 0 0 5px 4px rgba(23,23,23,.06);
    font-size: 13px;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu>li:first-child {
    padding-top: 0;
}

.dropdown-menu li a {
    padding: 0 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actionbar-btn{
    margin-right: 25px;
    font-size: 23px;
    position:relative;
}


.special-nav a {
    font-weight: 500;
    font-family: 'Quicksand','Helvetica',sans-serif;
}


@media (min-width: 415px){
    .account-btn{
        color:#fff;
    }
}

@media (min-width: 578px){
    .account-btn{
        padding: 10px 20px;
        color: #fff;
        background: #00a591;
        border-radius: 50px;
    }
}


@media (min-width: 768px){
    .container {
        width: 750px;
    }
}


@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1025px){
    .logo {
        margin: 10px 0;
    }

    .navigation>li>a{
        color: #fff;
    }

    .navigation>li:first-child>a {
        padding-left: 0;
    }

    .actionbar-btn{
        color:#fff;
    }

    .dropdown-menu li a {
        white-space: nowrap;
    }

}


@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
